.loading-pick-order {
    margin-top: 20px;
    width: 40px;
    height: 40px;
    border: 3px solid #F24405;
    border-top-color: white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.main-pick-order {
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: center;
    align-items: center;
}

.main-pick-order h2 {
    margin: 0 0 30px 0;
}

.form-pick-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}