.header {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#avanade-logo-name {
  height: 10vmin;
  margin-right: 2vmin;
  margin-bottom: 1vmin;
}

.icon-back {
  height: 6vmin;
  margin: 2vmin;
}