footer {
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 5vmin;
  font-size: 11px;
  text-align: center;
  color: #000000;
  align-content: center;
  padding-top: 4px;
  position: fixed;
  bottom: 0;
}

